// @keyframes trkstr-txt {
//     0% { color: #FED0D0; }
//     14% { color: #EBD4C1; }
//     28% { color: #F5ECC9; }
//     43% { color: #C5F0D6; }
//     57% { color: #CFF7FD; }
//     71% { color: #C9D3F5; }
//     86% { color: #D3B8E0; }
// }
// @-webkit-keyframes trkstr-txt {
//     0% { color: #FED0D0; }
//     14% { color: #EBD4C1; }
//     28% { color: #F5ECC9; }
//     43% { color: #C5F0D6; }
//     57% { color: #CFF7FD; }
//     71% { color: #C9D3F5; }
//     86% { color: #D3B8E0; }
// }
@keyframes hope-txt {
    from { color: #1F9300; }
    to { color: #27B800; }
}
@-webkit-keyframes hope-txt {
    from { color: #1F9300; }
    to { color: #27B800; }
}

// .pageBody .pageFrame .pageContent .footnote.readmspa {
//     p {
//         // We have to be annoyingly specific here for CSS rule ordering.
//         text-align: left;
//         font-size: 14px;
//     }
// }

.pageBody .pageFrame .pageContent .footnote.readmspa p {
    font-size: 12px;
}

// .pageBody .pageFrame .pageContent .footnote.readmspa {
//     // "body"
//     font-size: 12px;
//     text-align: left;
// }

.pageFrame .pageContent .footnote.readmspa,
.footnote.readmspa {
    pre {
        color: var(--font-default);
        background-color: var(--page-pageContent);
        white-space: pre-wrap;
        text-align: left;
    }
    hr + .bloody-scarf {
        margin: -15px 2ex;
        border: none;
        position: relative;
        z-index: 1;
    }
    &.transcript {
        .log {
            border: dashed gray 1px;
            margin: 32px 25px;
            padding: 1px 35px;
            text-align: center;
            section {
                padding: 1.2em 0;
            }
        }
        color: var(--font-default);
        background-color: var(--page-pageContent);
        padding: 1em 25px;
        white-space: pre-wrap;
        font-weight: normal;
        font-weight: bold;
        white-space: prewrap;
        font-family: monospace;
        div.log {
            white-space: normal;
            margin: 0;
        }
        dt {
            font-style: italic;
            font-weight: bold;
        }
        mark {
            background: inherit;
            color: #FF8A00;
            font-size: 150%;
            text-shadow: 4px 1px 0 #ff2400;
        }
        dd p {
            display: block;
            margin: -0.75em 0 0.25em;
            font-family: courier;
            padding: 0.5em;
            border: solid 0.3em;
            border-radius: 0.5em;
        }
        dd {
            margin: -0.75em 0;
            p {
                background-color: #d0d0d0;
                border-color: #b6b6b6;
                color: black;
                max-width: 80%;
                &.tags {
                    margin-top: -1.75em;
                }
            }
            button {
                background: #48D94C;
                color: white;
                font-size: 125%;
                border-width: 2px;
                border-color: #0FBC13;
                border-style: none none solid solid;
            }
        }
        kbd {
            display: block;
            margin: -0.75em 0 0.25em;
            font-family: courier;
            padding: 0.5em;
            border: solid 0.3em;
            border-radius: 0.5em;
            background-color: black;
            border-color: #ff9900;
            color: #bababa;
            max-width: 60%;
        }
    }
    &.walkaround p {
        &, * {
            text-align: left;
        }
        * {
            font-size: 14px;
        }
    }
    div[data-pageid="6/002153"] &.walkaround p {
        // [S] YOU THERE. BOY.
        p {
            border-color: #23CE27;
            border-radius: 0;
            background-color: white;
            max-width: 100%;
        }
        em {
            text-decoration: underline;
            font-style: inherit;
        }
    }
    div[data-pageid="6/003258"] &.walkaround p {
        // LOWAS
        p { 
            background-color: black; 
            color: white; 
            max-width: 100%;
            border-color: #3B42B2; 
            border-radius: 0; 
        }
        kbd { max-width: 80%; }
    }
    div[data-pageid="6/006720"] &.walkaround p,
    div[data-pageid="6/006725"] &.walkaround p,
    div[data-pageid="6/006727"] &.walkaround p {
        // Myst
        p { background-color: #7B7B7B; border-color: #C4C4C4; }
    }

    // div[data-pageid="6/002172"] 
    &.transcript.alt-narrative article {
        // Fix broken gamefaqs
        font-family: monospace !important;
    }
    &.transcript.dad-note p {
        background-color: white;
        text-align: center;
        color: black;
        font-family: courier;
        font-weight: bold;
    }
    &.hope p {
        font-size: 200%;
        font-weight: bold;
        text-shadow: 0 0.05em #186e00;
        animation: hope-txt 0.2s infinite alternate;
        -webkit-animation: hope-txt 0.2s infinite alternate;
    }
    &.bloody-scarf p {
        background: #F20000;
        color: #008282;
        text-shadow: #405F5F -2px -2px;
        font-size: 250%;
        width: 24ex;
        text-align: center;
        white-space: prewrap;
        padding: 0.5em;
        margin-top: 0;
        h2 {
            font-size: 200%;
            margin: 0;
        }
    }
}
