body {
     background-image: url(/images/404/background.gif);
}
.mspfalogo {
    background-image: url(/images/404/logo.gif) !important;
}
nav .heart {
    background-image: url(/images/404/nav.gif);
}
