@font-face {
    font-family: px_sans_nouveaux;
    src: url(./px_sans_nouveaux.eot);
}

--font-family-ui: px_sans_nouveaux,Arial,Helvetica,sans-serif;

--header-bg: #C0C0C0;
--header-tabSection: #FFF;
--header-border: #a0a0a0;

--header-buttonHoverState: rgba(0, 0, 0, 0.10);
--header-buttonClickState: rgba(0, 0, 0, 0.15);


.systemButton {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    box-shadow: 1px 0 grey, 0 1px grey, 1px 1px grey;
    /* background-color: silver; */
    border-right: 0;
    border-bottom: 0;
}

#titleBar {
    background: linear-gradient(to right, #000080 0%, #1083d1 100%);
    color: white;
    margin-top: 0;
    padding-top: 4px;
    border-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256px%22%20height%3D%22256px%22%20viewBox%3D%220%200%20256%20256%22%3E%0A%09%09%09%0A%09%09%3Cpath%20d%3D%22M0%200h256v256h-256v-256z%22%20fill%3D%22%20rgb(0%2C%200%2C%200)%22%2F%3E%0A%09%09%3Cpath%20d%3D%22M32%2032h192v192h-192v-192z%22%20fill%3D%22%20rgb(128%2C%20128%2C%20128)%22%2F%3E%0A%09%09%3Cpath%20d%3D%22M64%2064h128v128h-128v-128z%22%20fill%3D%22%20rgb(192%2C%20192%2C%20192)%22%2F%3E%0A%09%0A%09%09%3C%2Fsvg%3E") 64 / 2px;
    border-style: solid;
    border-width: 2px 2px;
    border-bottom:  none;
}

#titleBarButtons div {
    background: #c0c0c0;
    color: black;
}
#tabBar #tabSection {
    background:  none;
}

.tabShell {
    .tab {
        background: #EDF6FC;
        .activeTab {
            background: #E2EEFA;
        }
    }
}
